.users-item-container {
  display: flex;
  background-color:white;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  height: 18vh;
  border: 1px solid #EEFBE4;
  border-radius: 15px;
  padding: 9px 10.05px 10px;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
}

.item-div-text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

.item-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-fullname {
  font-size: 24px;
  font-weight: bolder;
}

.item-username {
  color: gray;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-div-img-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 5%; */
}

.users-item-img {
  width: 90px;
  height: 80px;
  border-radius: 50%;
}

.item-btn {
  background-color:#6FA33C;
  border-radius: 15px;
  color: white;
  height: 25px;
  width: 100px;
  border: none;
  font-size: 15px;
  outline: 0 !important;
}

@media (min-width: 1600px){
  .users-item-img {
  width: 140px;
  height: 120px;
  border-radius: 50%;
}
}
